@import "./theme.css";

*,
*::before,
*::after {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans);
}
