@import "./theme.css";

*,
*::before,
*::after {
  border-color: var(--color-border);
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans);
}
